<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<ul id="post-container">
</ul>

<form id="new-post">
	<div>
		<label>Title:</label>
		<input id="post-title" type="text" />
	</div>
	<textarea class="post-content">
		
	</textarea>
	<button>Submit</button>
</form>

<script type="text/javascript" src="/static/js/post/post.js"></script>
<script type="text/javascript" src="/static/js/post/new-post.js"></script>
</body>
</html>