<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!--<script src="/static/json2.js"></script>-->
<!--source from https://github.com/douglascrockford/JSON-js/blob/master/json2.js -->
</head>

<body>
  ----------------------------------------this is login test part---------------------
<br><button>获得 JSON 数据</button>
<p></p>

<p id="show_json"></p>
<p><input id = "username"type="text" name="login" value="" placeholder="Username or Email"></p>
<p><input id= "password"type="password" name="password" value="" placeholder="Password"></p>

<button id="but">Default Button</button></a>
<button id="re">reload Button</button></a>
data shows:

<br><p id= "show"></p>
error shows:
<p id= "error"></p>
response:
<p id= "response"></p>
username:
<p id= "u"></p>;;
pass:
<p id= "p"></p>
---------------------------------------get user infro by token part-----------------
<br>
<button id="post"> post</button>
<br>
<p id="posttext"> </p>




<script type="text/javascript">
getuserurl();
var token=getCookie("token");
//var user=getCookie("username");
//console.log(token);

var user=getCookie("username");
//console.log(user);

var user_url = getCookie("url");
console.log("user is :"+user_url);

var user_id = getCookie("id");
//console.log(user_id);
//var postlist = JSON.stringify(getpost());

//getfollowers(user_url);
//getfollowings(user_url);
//var thename = "ggg";
//searchfriend(thename);
findfriends();
getpost();
//----------------------------find friends-------------------
function findfriends(){

  url = "api/follows";
  var request = $.ajax({
          method: "GET",
          url: url,

        });
  request.done(function (callback) {
            //console.log(callback);
            //console.log(callback);

            var follower_list=[];
            var following_list=[];
            var friends_list=[];


            var followersobj = callback;
            $.each(followersobj, function (i, value) {
              //var follower_list=[];
              //var following_list=[];
              if (followersobj[i].followed == getCookie("url")){
                  follower_list.push(followersobj[i].follower);
                  console.log(followersobj[i].follower);
                }
              if (followersobj[i].follower == getCookie("url")){
                  following_list.push(followersobj[i].followed);
                   console.log(followersobj[i].followed);
                }

              });
              
            console.log(follower_list);
            console.log(following_list);

            $.each(follower_list, function (i, value) {

              $.each(following_list, function (j, value) {
                if (follower_list[i] == following_list[j])
                  friends_list.push(follower_list[i]);

              });



            });
            console.log(friends_list);

            $.each(friends_list,function (i,value){
              $.getJSON(friends_list[i],function(data){
                    
                    data = data.username;
                    console.log(data);
                    
                    //console.log("follower: "+data);
                });


            });

            
         });
  request.fail(function (callback) {
            //console.log(callback);

            console.log(callback);
         });


}








//--------------get list of friends---------------------------
function searchfriend(username){
    var url = "api/authors/";
  var request = $.ajax({
          method: "GET",
          url: url,

        });
  request.done(function (callback) {
            //console.log(callback);
            console.log(callback);
            var userobj = callback;
            for(i = 0; i < userobj.length; i++){
              if (userobj[i].username == username){
                console.log("find::"+userobj[i].username);
                
              }
            }


   

            
         });
  request.fail(function (callback) {
            //console.log(callback);
            console.log(callback);
         });

}






//------------------get list of followers -------------------------------

function getfollowers(url_user){

  url = "api/follows";
  var request = $.ajax({
          method: "GET",
          url: url,

        });
  request.done(function (callback) {
            //console.log(callback);
            //console.log(callback);
            var followersobj = callback;
            $.each(followersobj, function (i, value) {
              //console.log(followersobj[i]);
              if (followersobj[i].followed == getCookie("url")){
                var data = {};

                
                
                $.getJSON(followersobj[i].follower,function(data){
                    
                    data = data.username;
                    //console.log("follower: "+data);
                });
              }
            });

            
         });
  request.fail(function (callback) {
            //console.log(callback);
            console.log(callback);
         });

}

//----------------------get list of followerings------------------------
function getfollowings(url_user){

  url = "api/follows";
  var request = $.ajax({
          method: "GET",
          url: url,

        });
  request.done(function (callback) {
            //console.log(callback);
            //console.log(callback);
            var followersobj = callback;
            $.each(followersobj, function (i, value) {
              //console.log(followersobj[i]);
              if (followersobj[i].follower == getCookie("url")){
                var data = {};

                
                
                $.getJSON(followersobj[i].followed,function(data){
                    
                    data = data.username;
                    //console.log("following: "+data);
                });
              }
            });

            
         });
  request.fail(function (callback) {
            //console.log(callback);
            console.log(callback);
         });

}





//-----------------------------------find all the users-------------------
function getuserurl(callback){

  var url = "api/authors/";
  var request = $.ajax({
          method: "GET",
          url: url,

        });
  request.done(function (callback) {
            //console.log(callback);
            //console.log(callback);
            var userobj = callback;
            for(i = 0; i < userobj.length; i++){
              if (userobj[i].username == getCookie("username")){
                //console.log(userobj[i].url);
                setCookie("url",userobj[i].url);
                setCookie("id",userobj[i].id);
              }
            }


   

            
         });
  request.fail(function (callback) {
            //console.log(callback);
            console.log(callback);
         });

}




function findtime(time){
  time = time.split(".");

  return time;
}



//--------------------------get infor by token--------------------------
/*        the code below need help  */

function getpost(){

  var url = "api/post/posts/";
  var request = $.ajax({
          method: "GET",
          url: url,

        });

  request.done(function (callback) {
            //console.log(callback);
            //console.log(callback);
            var postobj = callback;
            $.each(postobj, function (i, value) {
              if (postobj[i].author == getCookie("url")){
                var data = {};
                var time = postobj[i].date_created;
                //console.log(time);
                var new_time = findtime(time);
                //console.log(new_time);
                //console.log("that"+i+"f   ="+postobj[i].author);
                //console.log("that"+i+"f   ="+postobj[i].title);
                //console.log("that"+i+"f   ="+postobj[i].content);
                //console.log("that"+i+"f   ="+postobj[i].date_created);
                
                $.getJSON(postobj[i].author,function(data){
                    
                    data = data.username;
                    //console.log("----"+i+"***"+data);
                });
              }
            });
         });
  request.fail(function (callback) {
            //console.log(callback);
            console.log(callback);
         });

}





//---------------------user login test done----------------------------------
$("#but").click(function(){
    var username = $("#username").val();
    var password = $("#password").val();

    var data = {"username": username, "password": password};
    //console.log(data);
    var url = "api-token/";
    var callback = "";
    getlogin(url,data,callback);
    var token=getCookie("token");
   
    //console.log(token);
    //$("#response").html(token);  
    setTimeout(function(){
      window.location.reload(1);
    },2000
      );
});

$("#re").click(function(){
    location.reload();
  
});




//-------------------cookie function done.-----------------------
function setCookie(key,value){
  document.cookie = key+"="+value;
  //document.cookie = "username = "+username;
};


function clearCookie(token){
  setCookie(token,"undefined",-1);
}

function getCookie(cname) {
    var name = cname + "=";
    //console.log(name);
    var ca = document.cookie.split(';');
    //console.log(ca);
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}



//---------------------------loging request done.-------------------
function getlogin(url,data,callback){
  var val;
  var username = data.username;
  //console.log(username);
  var password = data.password;
  var request = $.ajax({
          method: "POST",
          url: url,
          data: data,

        });
  request.done(function (callback) {
            //console.log(callback);
            var token =JSON.stringify(callback);

            
            setCookie("username",username);
            setCookie("token",token);

            
         });
  request.fail(function () {
            //console.log(callback);
            clearCookie("username");
            clearCookie("token");
            clearCookie("url");
         });
  //return callback;

};

</script>

</body>
</html>
