<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!--<script src="/static/json2.js"></script>-->
<!--source from https://github.com/douglascrockford/JSON-js/blob/master/json2.js -->
</head>

<body>
  ----------------------------------------this is login test part---------------------
<br><button>获得 JSON 数据</button>
<p></p>

<p id="show_json"></p>
<p><input id = "username"type="text" name="login" value="" placeholder="Username or Email"></p>
<p><input id= "password"type="password" name="password" value="" placeholder="Password"></p>

<button id="but">Default Button</button></a>
<button id="re">reload Button</button></a>
data shows:

<br><p id= "show"></p>
error shows:
<p id= "error"></p>
response:
<p id= "response"></p>
username:
<p id= "u"></p>;;
pass:
<p id= "p"></p>
---------------------------------------get user infro by token part-----------------
<br>
<button id="post"> post</button>
<br>
<p id="posttext"> </p>




<script type="text/javascript">
var token=getCookie("token");
var u=getCookie("username");
console.log(token);
$("#p").html(token);
console.log(u);
$("#u").html(u);

getpost(username,token);

//--------------------------get infor by token--------------------------
/*        the code below need help  */

function getpost(username,token){

  var url = "api/authors/";
  var request = $.ajax({
          method: "POST",
          url: url,
          headers:{"Authorization":"Token 53d66f417fcbb26a588099eed19b6fb9840f31a7"},
          //data: data,

        });
  request.done(function (callback) {
            //console.log(callback);
            console.log(callback.length);
            
            console.log(callback[0].author);
            console.log(callback[0].title);
            console.log(callback[0].content);


            
         });
  request.fail(function (callback) {
            //console.log(callback);
            console.log(callback);
         });

}





//---------------------user login test done----------------------------------
$("#but").click(function(){
    var username = $("#username").val();
    var password = $("#password").val();

    var data = {"username": username, "password": password};
    //console.log(data);
    var url = "api-token/";
    var callback = "";
    getlogin(url,data,callback);
    var token=getCookie("token");
   
    //console.log(token);
    //$("#response").html(token);  
    setTimeout(function(){
      window.location.reload(1);
    },2000
      );
});

$("#re").click(function(){
    location.reload();
  

});




//-------------------cookie function done.-----------------------
function setCookie(username,token){
  document.cookie = " token="+token;
  document.cookie = "username = "+username;
};


function clearCookie(token){
  setCookie(token,"",-1);
}

function getCookie(cname) {
    var name = cname + "=";
    //console.log(name);
    var ca = document.cookie.split(';');
    //console.log(ca);
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}



//---------------------------loging request done.-------------------
function getlogin(url,data,callback){
  var val;
  var username = data.username;
  //console.log(username);
  var password = data.password;
  var request = $.ajax({
          method: "POST",
          url: url,
          data: data,

        });
  request.done(function (callback) {
            //console.log(callback);
            var token =JSON.stringify(callback);

            setCookie(username,token);
            
         });
  request.fail(function () {
            //console.log(callback);
            clearCookie();
         });
  //return callback;

};

</script>

</body>
</html>
