<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script async="" type="text/javascript" src="/static/friends.js" ></script>
<link rel="stylesheet" type="text/css" href="/static/default.css">
<!-- Bootstrap core CSS -->
    <link href="/static/Bootstrap_files/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/Bootstrap_files/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/Bootstrap_files/ie10-viewport-bug-workaround.css" rel="stylesheet">

</head>
<!-- this is the top nav bar -->
    <link href="../static/Bootstrap_files/theme.css" rel="stylesheet">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">            
          </button>
          <a class="navbar-brand" id="connect_home" href="home">404 Web Project</a>
    <a class="navbar-brand" href="about">About Us</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="welcomeitem" class="nav navbar-nav"></ul>
         <ul id="loginbutton"class="nav navbar-nav"></ul>
        </div><!--/.nav-collapse -->
      </div>    
    </nav>




<body>
  <div data-role="page" id="onepage" >
   
    <div data-role="header" data-theme="f">
    <h1>welcome</h1>
  </div>
  <div id="postbody">
    <div id="postbody">
    <div data-role="content">
            <div id="ourteam"class="info">
              <center><p>Our Team:<br>Logan<br>James<br>Yushi<br>Yu<br>Alan<br></p></center>

          </div>
    </div>
    </div>


    <!-- the code above is from: http://codepen.io/aakashrodrigues/pen/Gfhjw-->
    <body>
  <center><div class="wrapper">
    <div class="border-circle" id="one"></div>
    <div class="border-circle" id="two"></div>
    <div class="background-circle">
      <div class="triangle-light"></div>
      <div class="body"></div>
      <span class="shirt-text">I</span>
      <span class="shirt-text">♥</span>
      <span class="shirt-text">C</span>
      <span class="shirt-text">S</span>
      <span class="shirt-text">S</span>
      <div class="triangle-dark"></div>
    </div>
    <div class="head">
      <div class="ear" id="left"></div>
      <div class="ear" id="right"></div>
      <div class="hair-main">
        <div class="sideburn" id="left"></div>
        <div class="sideburn" id="right"></div>
        <div class="hair-top"></div>
      </div>
      <div class="face">
        <div class="hair-bottom"></div>
        <div class="nose"></div>
        <div class="eye-shadow" id="left">
          <div class="eyebrow"></div>
          <div class="eye"></div>
        </div>
        <div class="eye-shadow" id="right">
          <div class="eyebrow"></div>
          <div class="eye"></div>
        </div>
        <div class="mouth"></div>
        <div class="shadow-wrapper">
          <div class="shadow"></div>
        </div>
      </div>
    </div>
    <span class="music-note" id="one">&#9835;</span>
    <span class="music-note" id="two">&#9834;</span>
  </div></center>
</body>

  
  
        
    </div>

 
</body>
</html>
<!-- this is the bottom nav bar -->
 
  
