<!DOCTYPE html>
<html lang="en">
<head>
  <title>404Webdevelopment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.css">
  <link rel="stylesheet" href="/static/styles/social.css">
  <script type="text/javascript" src="/static/js/controlers/follower_friends_controler.js" ></script>
  <script type="text/javascript" src="/static/js/controlers/load_post_controler.js" ></script>
  <script type="text/javascript" src="/static/js/controlers/update_controler.js" ></script>
  <script type="text/javascript" src="/static/js/controlers/user_login_controler.js" ></script>
  <script type="text/javascript" src="/static/js/controlers/dynamic_nav_inf_controler.js" ></script>
  <script type="text/javascript" src="/static/js/controlers/button_click_controler.js" ></script>
  <script type="text/javascript" src="/static/js/controlers/cookie_controler.js" ></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">404-Team-8</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a id="home_page" href="#">Home</a></li>
        </li>
        <li><a id="posted_page" href="#">Posted</a></li>
        <li><a id="friends_page" href="#">Friends</a></li>
        <li><a id="git_page"href="#">GitHUB</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="userphoto"><a href="#"><img src="/static/image/noiamge.gif"  width="20" height="20"> </a></li>
        <li><a id="profile_page" href="#"><span class="glyphicon glyphicon-user"></span> User_name</a></li>
        <li><a id="logout_btn"href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container" id = "home">
    <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div id="div1"><img src="/static/image/noiamge.gif"class="img-circle" alt="Cinque Terre"  width="100" height="100"></div>
                <div id ="div2"><h1>User Name<h1></div>
                <strong><hr id="the_hr"></strong>
                <h1 class="page-header">Post List
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <lu class = "try">
        <div id="home_page_list_view">
        <!-- Project Five -->
        </div> 
      </lu>
    </div>
    <div class="container" id = "posted">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div id="div1"><img src="/static/image/noiamge.gif"class="img-circle" alt="Cinque Terre"  width="100" height="100"></div>
                <div id ="div2"><h1>User Name<h1></div>
                <strong><hr id="the_hr"></strong>
                <h1 class="page-header">Post List
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <lu class = "try">
        <div id= "posted_page_list_view">    
        </div>
        </lu>
    </div>

    <div class="container" id = "other_posted">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div id="other_div1"><img src="/static/image/noiamge.gif" class="img-circle" alt="Cinque Terre" width="100" height="100"></div>
                <div id ="other_div2"><h1>User Name<h1></div>
                <br>
                <br>
                <div ><a id ="follow_btn"class="btn btn-success btn-md" href="#">&nbsp;&nbsp;<strong>Follow</strong>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></a></div>
                <div ><a id ="unfollow_btn"class="btn btn-danger btn-md" href="#"><strong>UnFollow</strong><span class="glyphicon glyphicon-eye-close"></span></a></div>

                <strong><hr id="the_hr"></strong>
                <h1 class="page-header">Post List
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <lu class = "try">
       <div id= "others_page_list_view">     
        </div>
      </lu>
    </div>

    <div class="container" id = "friends">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div id="div1"><img src="/static/image/noiamge.gif"class="img-circle" alt="Cinque Terre"  width="100" height="100"></div>
                <div id ="div2"><h1>User Name<h1></div>


                <strong><hr id="the_hr"></strong>
                <h1 class="page-header">Friends View
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div>
            <ul class="breadcrumb">
              <li><a id="display_follower"href="#">Followers</a></li>
              <li><a id="display_following"href="#">Followings</a></li>
              <li><a id="display_friends"href="#">Friends</a></li>
              <li><a id="display_fof"href="#">Friend of Friend</a></li> 
              <li><a id="display_search"href="#"><span class="glyphicon glyphicon-search"></span>Search User </a></li> 
            </ul>
        </div>
        <div id="follower_list" class="panel panel-primary">
          <div class="panel-heading">Followers</div>
            <lu class="list-group" id="follower_view">
            </lu>
        </div>
        <div id="following_list" class="panel panel-primary">
          <div class="panel-heading">Followings</div>
            <lu class="list-group" id="following_view">
            </lu>
        </div>
        <div id="friends_list" class="panel panel-primary">
          <div class="panel-heading">Friends</div>
            <lu class="list-group" id="friends_view">
            </lu>
        </div>
        <div id="fof_list" class="panel panel-primary">
          <div class="panel-heading">Friend of Friends</div>
            <lu class="list-group" id="fof_view">
            </lu>
        </div>
        <div id="search_list" >
                <center><div ><img src="/static/image/search_user.png"class="img-rounded" alt="Cinque Terre"  width="100" height="100"></div></center>
                <br/>
                <center><div id="div_icon" class="glyphicon glyphicon-search"></div>
                <div id="div_search">
                    <input id="search_name" type="search" class="form-control" placeholder="Search" />
                </div>
                <div id="div_button"><button id ="search_button"type="button" class="btn btn-primary">Search</button></div></center>
                <br/>
                <br/>
                <div id="search_result_fild">
                </div>
            </div>
    </div>

    <div class="container" id = "git">
      <div class="row">
        <div class="col-lg-12">
          <div id="div1"><img src="/static/image/noiamge.gif"class="img-circle" alt="Cinque Terre"  width="100" height="100"></div>
          <div id ="div2"><h1>User Name<h1></div>
          <strong><hr id="the_hr"></strong>
          <h1 class="page-header">GitHub Network
              <small>Secondary Text</small>
          </h1>
        </div>
      </div>

      <!-- /.row -->
      <div id="git_page_list_view">
      
      </div>
    </div>

    <div class="container" id = "profile">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div id="div1"><img src="/static/image/noiamge.gif"class="img-circle" alt="Cinque Terre"  width="100" height="100"></div>
                <div id ="div2"><h1>User Name<h1></div>


                <strong><hr id="the_hr"></strong>
                <h1 class="page-header">Edit Your Profile
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div>
            <!--<form class="form-horizontal" role="form" >-->
                <div class="form-group">
                  <label class="control-label col-sm-2" for="fistname">First Name:</label>
                  <div class="col-sm-10">
                    <input type="fistname" class="form-control" id="firstname" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="lastname">Last Name:</label>
                  <div class="col-sm-10">
                    <input type="lastname" class="form-control" id="lastname" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Email:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="github">GitHub:</label>
                  <div class="col-sm-10">          
                    <input type="github" class="form-control" id="github" >
                  </div>
                </div>
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="github">Upload Photo:</label>
                    <div class="col-sm-offset-2 col-sm-10">
                        <input id="imgInp" type="file" class="file">
                    </div>
                  </div>
                </div>
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button id ="profile_btn"type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
            <!--</form>-->
        </div>
    </div>

     <div class="container" id = "comment">
        <h1>Comment Page</h1>
        <hr id="the_hr">
	 <img class="img-responsive" src="./1 Col Portfolio - Start Bootstrap Template_files/700x300" alt="">

	<h2 id="comtitle" ></h2>
	<h4 id="combody"></h4>
	<div class="vertical-center">
		<textarea id="Comment_content" cols="100" rows="5"></textarea><button id="list_combox_btn" class="btn btn-primary btn-extra">Submit New Comment</button>
        </div>
          <div id="comment_page_list_view">
	    
            </div>
</div>
    </div>

    <script src="/static/js/index.js"></script>
</body>
</html>
