<!DOCTYPE html>
<html>
<head>
    <title>Sign Up to be an Auhtor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<form method="put">
    <br>
    <div>
        <label>Desired Username</label>
        <input id="username-input" type="text" placeholder="Eg. johndoeismyname">
    </div>
    <div>
        <label>Password</label>
        <input id="password-input" type="password" placeholder="Consider using numbers and special characters">
    </div>
    <div>
        <label>Github Username</label>
        <input id="github-input" type="text" placeholder="Eg. jdoe">
    </div>
    <div>
        <label>First Name</label>
        <input id="first-name-input" type="text" placeholder="Eg. johndoeismyname">
    </div>
    <div>
        <label>Last Name</label>
        <input id="last-name-input" type="text" placeholder="Eg. johndoeismyname">
    </div>

    <div>
        <label>Email</label>
        <input id="email-input" type="text" placeholder="Eg. johndoeismyname">
    </div> 
    <button id="create-btn" type="button">Create Account</button>
</form>
<script type="text/javascript" src="static/js/signup.js"></script>
</body>
</html>