#post-form {
 

    padding: 20px;
}
    #post-form textarea {
        width: 100%;
        min-height: 100px;
    }

#image-form {
    display: none;

    padding: 20px;
}
#check_back{
    position: relative;
    float: right;

}

#msg-feedback-displayer {
    display: none;

    padding: 20px;
    color: red;
}