
li{
	font-weight: bold;
	color:white;
}
td {
    padding: 12px;
}
#div1,#div2{
	display:inline-block;
}
#fo,#unfo,#rej{
  display:inline-block;

}

#other_div1,#other_div2{
	display:inline-block;
}
#div_icon,#div_search,#div_button{
	display:inline-block;
}
#userphoto{
  background-color: lightgrey;
}

#the_hr {
	border-top: 3px double #8c8b8b;
}

#posted_item{
	background-color: white;
	color:black;
}


.btn-extra{
    height:5em;
 
}

.img-responsive{
    width:50%;
    left:25%;
}

#post_icon{
	position:fixed;
  bottom: 20px;
  right: 20px;
}
  #post_icon > img {
    width: 80px;
    height: 80px;
  }
#post_icon_image:hover {
    background-color: black;
}

#comment-input-panel {
    padding-bottom: 60px;
}

#Comment_content {
  width: 100%;
}

#list_combox_btn {
  float: right;
}
*{
    margin:0;
    padding:0;
}


.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 2px;
    right:8px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:20px;
    box-shadow:1px 1px 1px gray;
}

.vertical-center {
  min-height: 10%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 10vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
//http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
