
li{
	font-weight: bold;
	color:white;
}
td {
    padding: 12px;
}
#div1,#div2{
	display:inline-block;
}

#other_div1,#other_div2{
	display:inline-block;
}
#div_icon,#div_search,#div_button{
	display:inline-block;
}

#the_hr {
	border-top: 3px double #8c8b8b;
}

#posted_item{
	background-color: white;
	color:black;
}

.btn-extra{
    height:5em;
 
}

.img-responsive{
    width:50%;
    left:25%;
}

#post_icon{
	position:fixed;
    bottom:5px;
    right:10px;

}
#post_icon_image:hover {
    background-color: black;
}

.vertical-center {
  min-height: 10%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 10vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
//http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
