<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/post.css">
</head>
<body>
<form id="image-form" action="/api/author/64b7fb7c-f499-4944-b7f5-fab2bc121b7a/profile_picture/" method="POST" enctype="multipart/form-data">
  <div>
    <input name="picture" type="file">
  </div>
  <button>POST</button>
</form>
<script type="text/javascript" src="/static/js/profile.js"></script>
</body>
</html>

<!-- http://localhost:8000/api/posts/8091a849-ff04-4ef7-a372-fc2d437592fc/ -->
